#footer {
	background: $clr_gray;
	padding: 45px 0;
	.footer-logo {
		max-width: 160px;
		margin-bottom: 30px;
		display: block;
		a {
			display: block;
		}
	}
	.contact-numbers {
		a {
			color: $clr_white;
			text-decoration: none;
			display: block;
			font-size: 16px;
			line-height: 19px;
			font-weight: 600;
		}
	}
	.work-days {
		font-size: 16px;
		line-height: 19px;
		font-weight: 600;
		color: $clr_white;
		margin-bottom: 15px;
		span {
			display: block;
		}
	}
	.lang-switch {
		max-width: 120px;
		&-list {
			li {
				&.active {
					border-color: $clr_white;
				}
				a {
					color: $clr_white;
					font-size: 14px;
					line-height: 17px;
				}
			}
		}
	}
}

.footer-menu {
	list-style: none;
	&-item {
		&:last-child {
			a {
				margin-bottom: 0;
			}
		}
		a {
			color: $clr_white;
			font-size: 16px;
			line-height: 19px;
			font-weight: 600;
			text-decoration: none;
			margin-bottom: 20px;
			display: block;
		}
	}
}

.footer-contact-desc {
	font-size: 16px;
	line-height: 19px;
	font-weight: 600;
	margin-bottom: 25px;
	color: $clr_white;
	.city {
		display: block;
	}
}


@media only screen and (max-width: 1200px) {
	#footer {
		.footer-logo {
			margin-bottom: 15px;
		}
		.row.flex-center {
			flex-wrap: wrap;
		}
		.lang-switch {
			max-width: 80px;
		}
	}

	.footer-menu {
		&-item {
			a {
				margin-bottom: 10px;
			}
		}
	}

}


@media only screen and (max-width: 991px) {

	#footer {
		.work-days-info {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 25px;
			.footer-contact-desc {
				margin-bottom: 0;
			}
			.work-days {
				margin-bottom: 0;
			}
		}	
	}
	
}

@media only screen and (max-width: 767px) {
	#footer {
		.footer-logo {
			margin: 0 auto 15px;
		}
		.contact-numbers {
			text-align: center;
			margin-bottom: 20px;
		}
		.footer-contact-desc {
			text-align: center;
		}
		.work-days {
			text-align: center;
		}
		.lang-switch {
			margin: 0 auto;
		}
	}

	.footer-menu {
		&-item {
			a {
				text-align: center;
			}
		}
	}
}


@media only screen and (max-width: 580px) {
	#footer {
		.footer-contact-desc {
			font-size: 13px;
			line-height: 16px;
		}
		.work-days {
			font-size: 13px;
			line-height: 16px;
		}
	}

	.footer-menu {
		&-item {
			a {
				font-size: 13px;
				line-height: 16px;
			}
		}
	}
}