.small-visual {
	height: 220px;
	padding: 70px 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	position: relative;
	.container {
		position: relative;
		z-index: 1;
	}
	&:before {
		position: absolute;
		content: '';
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(232, 232, 232, 0.6)
	}
	h2 {
		color: $clr_nude_light;
		text-align: center;
		margin-bottom: 15px;
		text-transform: uppercase;
		letter-spacing: 0;
	}
	.breadcrumb {
		text-align: center;
	}
}

.breadcrumb {
	background: transparent;
	margin: 0;
	border-radius: 0;
	padding: 0;
	&-item {
		font-size: 18px;
		line-height: 25px;
		font-weight: 500;
		a {
			color: $clr_nude_light;
			&:hover {
				text-decoration: none;
			}
		}
		&.active {
			color: $clr_nude_light;
			position: relative;
			&:after {
				position: absolute;
				content: '';
				left: 19px;
				right: 0;
				bottom: 0;
				height: 1px;
				background: $clr_nude_light;
			}
		}
	}
	&-item + &-item {
		&:before {
			content: '>';
			color: $clr_nude_light;
		}
	}
}


.accordion {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	list-style: none;
	margin-top: 15px;
	.accordion__list {
		width: 100%;
		margin-bottom: 24px;
		.link {
			font-size: 14px;
			line-height: 17px;
			font-weight: 700;
			color: #37474F;
			cursor: pointer;
			display: flex;
			position: relative;
			-webkit-transition: all 0.4s ease;
			-moz-transition: all 0.4s ease;
			-moz-transition: all 0.4s ease;
			-o-transition: all 0.4s ease;
			transition: all 0.4s ease;
			i {
				color: $clr_gray;
				-webkit-transition: all 0.4s ease;
				-moz-transition: all 0.4s ease;
				-o-transition: all 0.4s ease;
				transition: all 0.4s ease;
			}
		}
		.link__title {
			position: relative;
			display: block;
			color: $clr_gray;
			font-size: 14px;
			line-height: 17px;
			text-transform: uppercase;
			position: relative;
			z-index: 1;
			margin-right: 10px;
			&:hover {
				color: $clr_orange;
				&:before {
					width: 45px;
				}
			}
			&:before {
				position: absolute;
				content: '';
				left: 0;
				bottom: 0;
				width: 0;
				height: 1px;
				background: $clr_orange;
				transition: all .3s;
			}
		}
		&.open {
			.link__title {
				color: $clr_orange;
				&:before {
					width: 45px;
				}
			}
			i {
				&.fa-chevron-down {
					-webkit-transform: rotate(180deg);
					-moz-transform: rotate(180deg);
					-ms-transform: rotate(180deg);
					-o-transform: rotate(180deg);
					transform: rotate(180deg);
				}
			}
		}
		.submenu {
			display: none;
			margin-top: 15px;
			list-style: none;
			li {
				margin-bottom: 15px;
				a {
					display: block;
					text-decoration: none;
					color: $clr_light_gray;
					font-size: 14px;
					line-height: 17px;
					&:hover {
						color: $clr_gray;
					}
				}
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}


.services-holder {
	padding: 60px 0;
	.service-banner {
		margin-bottom: 70px;
	}
	.our-capabilities {
		margin-bottom: 70px;
		h2 {
			margin-bottom: 25px;
			letter-spacing: 0;
			text-transform: uppercase;
		}
	}
	.services-doctors {
		margin-bottom: 70px;
		h2 {
			margin-bottom: 25px;
			letter-spacing: 0;
			text-transform: uppercase;
		}
	}
	.services-also {
		h2 {
			margin-bottom: 25px;
			letter-spacing: 0;
			text-transform: uppercase;
		}
	}
}

.service-banner {
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.17);
	position: relative;
	.text {
		padding: 50px 375px 50px 50px;
		h2 {
			margin-bottom: 15px;
			text-transform: uppercase;
			letter-spacing: 0;
		}
		p {
			letter-spacing: 0;
		}
	}
	.img {
		width: 345px;
		background-size: cover;
		background-position: 50%;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
	}
}

.our-capabilities-list {
	list-style: none;
	.our-capabilities-items {
		display: block;
		margin-bottom: 24px;
		a {
			color: $clr_gray;
			position: relative;
			display: block;
			font-size: 18px;
			line-height: 24px;
			padding: 5px 0 5px 18px;
			strong {
				text-transform: uppercase;
				display: block;
			}
			&:before {
				position: absolute;
				content: '';
				left: 0;
				top: 0;
				bottom: 0;
				width: 4px;
				background: $clr_gray;
				transition: all .3s;
			}
			&:hover {
				text-decoration: none;
				color: $clr_orange;
				&:before {
					background: $clr_orange;
				}
			}
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}

@media only screen and (max-width: 991px) {
	.service-banner {
		.text {
			padding: 50px 30px;
		}
		.img {
			position: relative;
			width: 100%;
			height: 250px;
		}
	}

	.services-holder {
		.our-services-list-item {
			width: 100%;
			margin-bottom: 15px;
			a {
				width: 100%;
				background-size: cover;
				background-repeat: no-repeat;
			}
		}
	}
}

@media only screen and (max-width: 767px) {
	.services-holder {
		.accordion .accordion__list {
			margin-bottom: 15px;
			.link {
				justify-content: space-between;
			}
		} 
	}
}